<a href="https://colab.research.google.com/github/lala991204/Data-Structure-Algorithm/blob/master/3_1_set_operations_with_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬의 내장 컬렉션 데이터 타입에는 셋과 딕셔너리가 있다. \\
셋은 가변 객체이며, 프로즌 셋은 불변 객체이다.

In [ ]:
print(dir(set()))
print(dir(frozenset()))

fs = frozenset((0,1,2,3,4))
print(2 in fs)
print(len(fs))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']
True
5

In [ ]:
people = {"버피", "에인절", "자일스"}
people.add("윌로")
print(people)
print("\n")

people = {"버피", "에인절", "자일스"}
people.update({"로미오", "줄리엣", "에인절"})
print(people)
people |= {"리키", "유진"}   # 합집합
print(people)
print("\n")

# A.union(B)과 A|B는 A.update(B)와 다르게 연산 결과를 복사본으로 반환 
people = {"버피", "에인절", "자일스"}
print(people.union({"로미오", "줄리엣"}))
print(people)
print(people | {"브라이언"})
print('\n')

people = {"버피", "에인절", "자일스", "이안"}
vampires = {"에인절", "자일스", "윌로"}
print(people.intersection(vampires))
print(people & vampires)
print("\n")

people = {"버피", "에인절", "자일스", "아영"}
vampires = {"스파이크", "에인절", "상민"}
print(people.difference(vampires))
print(people - vampires)
print("\n")

people = {"버피", "자일스", "에인절"}
people.clear()
print(people)
print("\n")

countries = {"프랑스", "스페인", "영국"}
countries.discard("한국")       # 반환 값 없음
# countries.remove("일본")            # 셋이 빈 경우, key error 발생
print(countries.pop())      # 한 항목을 무작위 제거, 그 항목 반환
countries.discard("스페인")
countries.discard("영국")
countries.discard("프랑스")
# countries.pop()           # 셋이 빈 경우, key error 발생

{'버피', '에인절', '윌로', '자일스'}


{'자일스', '에인절', '로미오', '버피', '줄리엣'}
{'자일스', '에인절', '리키', '로미오', '버피', '줄리엣', '유진'}


{'자일스', '에인절', '로미오', '버피', '줄리엣'}
{'버피', '에인절', '자일스'}
{'버피', '에인절', '브라이언', '자일스'}


{'자일스', '에인절'}
{'자일스', '에인절'}


{'버피', '아영', '자일스'}
{'버피', '아영', '자일스'}


set()


스페인

In [ ]:
def remove_dup(l1):
    ''' 리스트의 중복된 항목을 제거한 후 반환한다. '''
    return list(set(l1))

def intersection(l1, l2):
    ''' 교집합 결과를 반환한다. '''
    return list(set(l1) & set(l2))

def union(l1, l2):
    ''' 합집합 결과를 반환한다. '''
    return list(set(l1) | set(l2))

def test_sets_operations_with_lists():
    l1 = [1, 2, 3, 4, 5, 5, 9, 11, 11, 15]
    l2 = [4, 5, 6, 7, 8]
    l3 = []
    assert(remove_dup(l1) == [1, 2, 3, 4, 5, 9, 11, 15])
    assert(intersection(l1, l2) == [4, 5])
    assert(union(l1, l2) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15])
    assert(remove_dup(l3) == [])
    assert(intersection(l3, l2) == l3)
    assert(sorted(union(l3, l2)) == sorted(l2))
    print("테스트 통과!")

if __name__ == "__main__":
    test_sets_operations_with_lists()

테스트 통과!