<a href="https://colab.research.google.com/github/lala991204/Data-Structure-Algorithm/blob/master/3_3_setdefault_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 딕셔너리는 해시 테이블(키와 값이 연관됨)로 구현되어 있다.

In [5]:
print(hash(42))
print(hash("hello"))
print()

tarantino = {}
tarantino['name'] = '쿠엔틴 타란티노'
tarantino['job'] = '감독'
print(tarantino)

sunnydale = dict({"name" : "버피", "age" : 16, "hobby" : "게임"})
print(sunnydale)

sunnydale = dict(name="자일스", age=45, hobby="영화감상")
print(sunnydale)

sunnydale = dict([("name", "윌로"), ("age", 15), ("hobby", "개발")])
print(sunnydale)

42
6319175609874270319

{'name': '쿠엔틴 타란티노', 'job': '감독'}
{'name': '버피', 'age': 16, 'hobby': '게임'}
{'name': '자일스', 'age': 45, 'hobby': '영화감상'}
{'name': '윌로', 'age': 15, 'hobby': '개발'}

In [6]:
def usual_dict(dict_data):
    ''' dict[key] 사용 '''
    newdata = {}
    for k, v in dict_data:
        if k in newdata:
            newdata[k].append(v)      # 해당 key값이 있다면 그 자리에 추가
        else:
            newdata[k] = [v]          # 해당 key값이 없다면 새로운 자리에 입력
    return newdata

def setdefault_dict(dict_data):
     ''' setdefault() 메서드 사용'''
     newdata = {}
     for k, v in dict_data:
         newdata.setdefault(k, []).append(v)      # 딕셔너리 newdata에 key값인 k가 존재할 경우 키에 해당하는 값을 얻을 수 있고, 없다면 새 키와 기본값 default가 저장됨.
     return newdata

def test_setdef():
    dict_data = (("key1", "value1"),
                 ("key1", "value2"),
                 ("key2", "value3"),
                 ("key2", "value4"),
                 ("key2", "value5"),)
    print(usual_dict(dict_data))
    print(setdefault_dict(dict_data))

if __name__ == "__main__":
    test_setdef()

{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4', 'value5']}
{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4', 'value5']}